<h1>
  [[ domain name ]]
</h1>
<div class="form">
  <div class="form-group">
    <label>ID:</label>
    [[ domain id ]]
  </div>
  <div class="form-group">
    <label>Name:</label>
    [[ domain name ]]
  </div>
  <div class="form-group">
    <label>Expiration:</label>
    [[ domain expiration ]]
  </div>
  <div class="form-group">
    <label>Auto Renew:</label>
    [[ domain auto-renew ]]
  </div>
  <div class="form-group">
    <label>Domain Privacy:</label>
    [[ domain privacy ]]
  </div>
  <div class="form-group">
    <label>Renewal Price:</label>
    [[ domain renewal price ]]
  </div>
  <div class="form-actions">
    <button type="button">Back to the list</button>
  </div>
</div>