<h1>My Domains</h1>
<section role="main">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Expiration</th>
        <th>Renewal Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          [[ domain name ]]
        </td>
        <td>
          [[ domain expiration ]]
        </td>
        <td>
          [[ domain renewal price ]]
        </td>
        <td>
          <a>details</a>
        </td>
      </tr>
      <tr>
        <td>
          [[ domain name ]]
        </td>
        <td>
          [[ domain expiration ]]
        </td>
        <td>
          [[ domain renewal price ]]
        </td>
        <td>
          <a>details</a>
        </td>
      </tr>
    </tbody>
  </table>
</section>
